<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Magic gallery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC9A1E6D1D63392500FC9AE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC9A1E861D63392600FC9AE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC9A1E911D63392600FC9AE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
